bidict==0.23.1
blinker==1.9.0
chardet==7.4.3
click==8.3.3
colorama==0.4.6
Flask==3.1.3
Flask-Login==0.6.3
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
greenlet==3.5.0
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
pillow==12.2.0
python-engineio==4.13.1
python-socketio==5.12.1
reportlab==4.4.0
simple-websocket==1.1.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
Werkzeug==3.1.8
wsproto==1.3.2
gevent
gevent-websocket
gunicorn==23.0.0
psycopg2-binary==2.9.9
setuptools